
a:hover {
	color: #1A1A1A;
}


a {
	color: #ed1c24;
}

.footer_logo {
	max-height: 90px;
    padding-top: 5px;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	padding-bottom: 0px;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
  }
  

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: white;
}
